{% extends 'Inicio/plantMain.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'Inicio/css/estilo-index.css' %}">
{% endblock css %}

{% block imagen %}
<div class="img-hd">
    <div class="logo-img"><img class="img-fluid"></div>
    <div class="">
    </div>

</div>
{% endblock imagen %}

{% block contenido %}
<section class="compsyper">
    <div class="container">
        <h1 class="text-break">CATALOGO&#128293;</h1>
        <h2>Nuestros Servicios &#9889;</h2>
        <div class="row align-items-center">
            <div class="col-xl-4 col-md-6 col-sm-12">
                <article class="caja">
                    
                    {% if usuario %}
                        <a href="{% url 'mostrarMic' usuario.username %}"><img src="{% static 'Inicio/img/img-index/BARBIE.png' %}" alt="microfono gamer" class="img-fluid" id="img"></a>
                        <p class="txtcaja"> Modelos disponibles de Bicletas</p>
                    {% else %}
                        <a href="{% url 'iniciar' %}"><img src="{% static 'Inicio/img/img-index/BARBIE.png' %}" alt="microfono gamer" class="img-fluid" id="img"></a>
                        <p class="txtcaja">Modelos disponibles de Bicletas</p>
                        
                    {% endif %}
                </article>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <article class="caja">
                    {%if usuario %}
                    <a href="{% url 'teclados'  usuario.username %}"><img src="{% static 'Inicio/img/img-index/ARRIENDOS.png' %}" alt="teclado gamer" class="img-fluid" id="img"></a>
                    <p class="txtcaja"> Arriendos</p>
                    {%else%}
                    <a href="{% url 'iniciar' %}"><img src="{% static 'Inicio/img/img-index/ARRIENDOS.png' %}" alt="teclado gamer" class="img-fluid" id="img"></a>
                    <p class="txtcaja"> Arriendos</p>
                    {%endif%}
                </article>
            </div>
            <div class="col-xl-4 col-md-12 col-sm-12">
                <article class="caja">
                    {%if usuario%}
                    <a href="{% url 'mostrarMouse' usuario.username %}"><img src="{% static 'Inicio/img/img-index/REPARACION' %}" alt="mouse gamer" class="img-fluid" id="img"></a>
                    <p class="txtcaja">Solicitudes de Reparación</p>
                    {%else%}
                    <a href="{% url 'iniciar' %}"><img src="{% static 'Inicio/img/img-index/REPARACION' %}" alt="mouse gamer" class="img-fluid" id="img"></a>
                    <p class="txtcaja">Solicitudes de Reparación</p>
                    {%endif%}

                </article>
            </div>
            
        </div>
    </div>
</section>    
    
{% endblock contenido %}
    







<!-- 01001000 01101111 01101100 01100001 00100000 01001101 01110101 01101110 01100100 01101111 00100001 -->